.footer--container {
  background-color: var(--color-footer);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.elementos__del--footer {
  width: 960px;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  font-family: inter, sans-serif;
}

.elementos__internos--footer {
  display: flex;
}

.caja__elemento--footer {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 50px 0;
  gap: 15px;
}

.tittle--name {
  color: white;
}

.elemento__footer {
  color: white;
  font-size: 18px;
}

.elemento__footer--1st {
  color: var(--color-letras);
}

.icono__footer--url {
  display: inline-block;
}

.icono__footer {
  width: 35px;
  color: white;
}

.desarrollado--por {
  display: flex;
  align-items: center;
  gap: 1%;
  width: 85%;
  border-top: 1px solid var(--color-letras);
  margin-left: 5%;
  padding: 0.5%;
}

.copyright {
  height: 40px;
}

.descripcion--copyright {
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .elementos__del--footer {
    width: 640px;
  }

  .caja__elemento--footer {
    width: 150px;
  }

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .elementos__del--footer {
    width: 340px;
  }

  .caja__elemento--footer {
    width: 90px;
  }

  .elemento__footer {
    font-size: 12px;
  }

  .descripcion--copyright {
    font-size: 14px;
  }

}