.mis__proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}

.titulo__mis--proyectos {
  width: 100%;
  font-size: 28px;
  color: #47D16E;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.proyecto__1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  gap: 250px;
}

.descripcion--proyecto {
  width: 20%;
  color: white;
  font-size: 24px;
  border: inset 1px white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono__proyecto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #b15e06;
}

.descripcion__icono--1 {
  font-size: 12px;
  text-align: center;
}

.caja__proyecto--1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img__proyecto--yalevas {
  border-radius: 20px;
  height: 300px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .caja__proyecto--1 {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .img__proyecto--yalevas {
    height: 200px;
  }

}