.mis--habilidades {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo__mis--habilidades {
  width: 100%;
  font-size: 28px;
  color: #47D16E;
  text-align: center;
  padding: 40px 0;
}

.mis__soft--skills {
  display: flex;
  justify-content: center;
  color: white;
  gap: 15px;
}

.soft--skill {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: #1F1F21;
  border-radius: 8px;
}

.icono__habilidad {
  font-size: 48px;
}

.titulo__soft--skill {
  /* text-align: center; */
  font-size: 24px;
}

.descripcion__soft--skill {
  font-size: 14px;
  line-height: 1.3;
}

.mis__hard--skills {
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centrará los elementos horizontalmente */
  padding-bottom: 30px; /* Añade un poco de espacio inferior */
}

.mis__hard--skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.iconos__hard--skills {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: white;
}

.caja__icono--skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icono__hard {
  width: 58px;
}

.descripcion__icono {
  text-align: center;
}

.descripcion__icono:hover {
  color: #47D16E;
}
