* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

main {
  display: flex;
  justify-content: center;

}

a {
  text-decoration: none;
}

.contenedor-elementos {
  width: 45%;
}

.contenedor-navbar {
  padding: 8px;
  background-color: var(--fondo-gris);
  display: flex;
  justify-content: center;
}

.navar {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-radius: 10px;
}

.navar-pestanha {
  width: 95%;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
}

.navar-selecion {
  background-color: white;
  border-radius: 8px;
}

.elemento-navar {
  width: 50%;
  display: flex;
  justify-content: center;
}

.contenedor-contenido {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.contenedor-elementos-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
}

.elemento-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid var(--fondo-gris);
  border-radius: 8px;
}

.elemento-info:hover {
  background-color: #c7cbce;
}

.caja-link-discord {
  display: flex;
  border: 1px solid var(--fondo-gris);
}

.nombre-link {
  font-size: 28px;
}

.flecha {
  font-size: 32px;
  border-radius: 8px;
  background-color: var(--color-letras);
}

.link-url {
  color: black;
}

.contenedor-elementos-servicio {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
  
}

.contenido-servicio {
  display: flex;
  border: 2px solid var(--fondo-gris);
  padding: 15px;
}

.contenido-servicio:hover {
  background-color: #c7cbce;
}

.contenedor-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.img-servicio {
  width: 50%;
}

.contenedor-textos-servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .5rem;
}

.titulo-servicio {
  font-size: 32px;
}

.descripcion-servicio {
  font-size: 12px;
}